<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/css/styles.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
       
        <title>Mercado Liebre</title>
    </head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class = "logo" width="360" alt="Logo de MercadoLiebre">
            <div class="search-button">
                <form action="" method="post" class="search-form">
                    <input type="search" value = "Buscar productos, marcas" class = barra>
                </form>
                <button type="submit" class = button><i class="fas fa-search"></i></button>
            </div>
            <p class = "texto-cuotas">
                <i class = "fas fa-hand-holding-usd">  </i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
    
        <section class="navbar-lists">
            <div class = "main-navbar">
                <ul type= "none" class="navbar-list1">
                    <li class="navbar-list1-1"><a href="#">Ofertas</a></li>
                    <li class="navbar-list1-2"><a href="#">Tiendas Oficiales</a></li>
                    <li class="navbar-list1-3"><a href="#">Vender</a></li>
                    <li class="navbar-list1-4"><a href="#">Ayuda</a></li>
                </ul>
                <ul type= "none" class="navbar-list2">
                    <li class="navbar-list2-1"><a href="/register">Creá tu cuenta
                        <i class = "far fa-id-card"></i>
                        </a>
                    </li>
                    <li class="navbar-list2-2"><a href="/login">Ingresá
                        <i class = "fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="navbar-list2-3"><a href="#">Mis compras
                        <i class = "fas fa-shopping-basket"></i>
                        </a>
                    </li>
                </ul>
            </div>    
            <div class = "contenedor-burguer">
                <span class="burger-menu">
                    <a href=""><i class="fa fa-bars burger"></i></a>
                </span>
            </div>
        </section>
    
    </header>

    <form action="/crear producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del Producto:</label>
            <input type="text" name="nombre-producto" class="control"> 
        </div>
        <div class="control-formulario">
            <label>Precio del Producto:</label>
            <input type="number" name="precio-producto" placeholder="123.56" class="control">
        </div>
        <div class="control-formulario">
            <label>Categoria</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad</label>
            <select name="ciudad" class="control">
                <option value="bsas">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mza">Mendoza</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripcion del Producto</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en oferta:</label>
            <input type="radio" name="en-oferta">
        </div>
        <div class="control-formulario">
            <label>Descripcion del Producto</label>
            <textarea name="descripcion"></textarea>
        </div>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Guardar</button>
    </form>    
</body>
</html>