* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}

body {
    background: #ebebeb;
}

    .main-header-top-bar{  
        background-color: #EAC926;
        display: flex;
        flex-wrap: wrap;
    }

    .search-button {
        display: flex;
        text-align: center;
        align-items: center;
        flex: 1 1 auto;
        justify-content: center;
        margin-top: 20px;
        }

    .logo {
        margin: 15px;
        height: 50%;
        width: 50%;
        flex: 1 1 auto;
    }   

    h1 {
        font-size: 24px
    }

    h2 {
        font-size: 24px
    }

    button {
        padding: 3px 3px;
        text-align: center;
        }
        
    .main-navbar {
        display: none;
    }

    .barra {
        background: white;
        font-size: 12px;
        color:rgb(59, 59, 59);
    }
    
    .burger-menu {
        justify-content: center;
        margin-top: 0px;
        visibility: visible;
        background-color: #1259c3;
        padding: 6px 8px;
        display: flex;
        border-radius: 3px;
        text-align: center;
    }

    .burger {
        font-size: 18px;
        text-align: center;
        color: #fff;
        align-self: center;
    }

    .main section article i {
        display: block;
        background-color: white;
        color:#39b54a;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        border-radius: 50%;
        right: 20px;
        top: -15px;
    
    }

    .texto-cuotas {
        font-size: 12px;
    }

    .banner {
        margin-top: 15px;
        margin-top: 10px;
        text-align: center;
        flex: 5 1 100%;
    }

    .ultima-visita, .ofertas {
        background: #ebebeb;
        margin: auto;
        align-content: right;
        width: 90%;
    }

    .catalogo-productos {
        display: flex;
        flex-wrap: wrap;
    }

    .producto-completo {
        background-color: #fff;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        margin: 20px;
        padding-bottom: 8px;
    }

    .producto-info {
        display: flex;
        flex-wrap: wrap;
    }
    
    .camion {
        color: #39b54a;
        display: flex;
        flex-flow: column;
        padding: 0px 40px;
        flex-grow: 1;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 15px;
        border-top: solid 1px #ebebeb;
        border-radius: 50%;
    }

    .precio {
        font-size: 18px;   
        flex-grow: 30%;
        margin-bottom: 0px;
    }

    .descuento {
        font-size: 16px;
        font-weight: normal;
        color: #39b54a;
        text-align: left;
        flex-grow: 70%;
        margin-top: 0px;   
    }

    .descripcion {
        font-size: 16px;
        font-weight: normal;
        flex: 5 1 100%; 
        color: #666; 
        margin-top: 20px; 
        text-align: left;
    }

footer{
    background-color: #fff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #666;
    padding: 10px;
    font-size: 12px;
}

footer h3{
    font-size: 20px;
}

footer p {
    margin-top: 5px;
}

.icon-footer {
    color:#1259c3;
    padding-top: 15px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 2em;
}

h5 {
    margin-top: 20px;
}

@media (min-width: 361px){

    .main-navbar{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 0px;
        visibility: visible;
    }

    .navbar-list-1, .navbar-list-2 {
        color: black;
        text-align: left;
        text-decoration: none;
    }

    .navbar-list-1 {
        margin-left: 25px;
    }

    .navbar-list-2 {
        margin-right: 25px;
    }

    .burger-menu{
        display: none;
    }

    .textocuotas {
        display: flex;
        flex-wrap: wrap;
    }

    .producto-completo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }

    .descripcion {
        visibility: visible;
    }

}   
    

@media (min-width: 1200px){
    .logo{
        width: 250px;
    }
    
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    
    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a{
        font-size: 19px;
    }

    .textocuotas {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }

    .main-navbar {
        margin-top: 40px;
    }  
    
    footer{
        font-size: 20px;
    }
}
